<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanda.module_course">

    <application>
        <activity
            android:name=".CourseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>